.nav {
  width: 100%;

  &__wrapper {
    list-style-type: none;
    padding: 0 63px;
    display: flex;
  }

  &__element + &__element {
    margin-left: 58px;
  }

  &__link {
    @include font-source-sans(16px, #ffffff, 500, 23px);
    text-decoration: none;

    &:hover {
      opacity: $headerOpacity;
    }

    &_active {
      color: transparent;
      background-clip: text;
      -webkit-background-clip: text;
      background-image: $color-gradient;
      pointer-events: none;
      cursor: default;
    }
  }

  @media screen and(max-width: $desctop) {
    &__element + &__element {
      margin-left: 48px;
    }
  }

  @media screen and(max-width: $laptop) {
    &__element + &__element {
      margin-left: 40px;
    }

    &_notactive {
      display: none;
    }

    &__wrapper_position_footer {
      padding: 0;
    }
  }

  @media screen and(max-width: $laptop) {

    &__wrapper {
      margin: 0
    }

    &__link {
      font-size: 16px;
      line-height: 22px;
    }

    &__element + &__element {
      margin-left: 28px;
    }
  }
}
