$desctop: 1250px;
$laptop: 1010px;
$tablets: 768px;
$phones: 480px;
$phones-small: 320px;

$mainPadding: 120px;
$maxWidth: 1600px;
$mainWidth: 1160px;

$headerOpacity: .75;
$contentOpacity: .6;
$mainTransition: .3s;
