@font-face {
  font-family: 'Roboto';
  src: url(../../roboto/Robotobold.woff2) format('woff2'),
    url(../../roboto/Robotobold.woff) format('woff');
  font-weight: 700;
}

@font-face {
  font-family: 'Roboto';
  src: url(../../roboto/Robotomedium.woff2) format('woff2'),
    url(../../roboto/Robotomedium.woff) format('woff');
  font-weight: 500;
}

@font-face {
  font-family: 'Roboto';
  src: url(../../roboto/roboto-regular.woff2) format('woff2'),
    url(../../roboto/roboto-regular.woff) format('woff');
  font-weight: 400;
}

@font-face {
  font-family: 'Roboto';
  src: url(../../roboto/Robotolight.woff2) format('woff2'),
    url(../../roboto/Robotolight.woff) format('woff');
  font-weight: 300;
}

@font-face {
  font-family: 'Roboto';
  src: url(../../roboto/Robotothin.woff2) format('woff2'),
    url(../../roboto/Robotothin.woff) format('woff');
  font-weight: 100;
}